<h1>Add new Event</h1>


<%= form_for @event do |e|%>

Title: <%= e.text_field :name%><br>
Description: <%= e.text_area  :description%><br>
 <% if can?  :create , @event %>  <%= e.submit "Add"%> <%end%>
<%end%>